* {
    margin: 0;
    padding: 0;
    font-family: SansSerif;
}

.container {
    background-color: #ffe3af;
    width: 800px;
    margin: auto;
    height: auto;
}

form {
    margin: auto;
    width: 600px;
}

p {
    background-color: #c0ffff;
    color: blue;
    font-size: 25px;
}

.col1 {
    padding: 15px;
    color: blue;
}

#dia_chi {
    width: 200px;
    height: 70px;
}

table, tr, th {
    border-collapse: collapse;
}
.col2 {
    height: 30px;
}
button {
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}